@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Comfortaa-fallback';
    size-adjust: 116.87%;
    ascent-override: 70%;
    src: local('Arial');
}

@font-face {
    font-family: 'Inter-fallback';
    size-adjust: 107%;
    ascent-override: 90%;
    src: local('Arial');
}

@layer base {
    :root {
        --background: 0 0% 96% 1;
        --foreground: 215, 100%, 23%;

        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;

        --primary: 24 9.8% 10%;
        --primary-foreground: 60 9.1% 97.8%;

        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;

        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;

        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;

        --radius: 0.5rem;

        /* custom sizes */
        --border-radius-mini: 0.5625rem;
        --top-bar-height: 5rem;
        --bottom-bar-height: 5.5rem;

        /* privy customizations */
        --privy-color-background: #f5f5f5 !important;
        --privy-color-foreground-2: var(--primary-foreground) !important;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;

        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;

        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;

        --primary: 60 9.1% 97.8%;
        --primary-foreground: 24 9.8% 10%;

        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;

        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;

        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 24 5.7% 82.9%;
    }
}

@layer base {
    html,
    body,
    #root {
        @apply relative min-h-dvh;
        margin: 0;
        padding: 0;
    }

    body {
        /* @apply mx-auto w-dvw max-w-screen-md py-safe-offset-24 px-safe-or-6; */
        @apply select-none bg-background text-foreground antialiased;

        /* PWA enhancements */
        -webkit-overflow-scrolling: touch;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }

    * {
        @apply border-border;
        overscroll-behavior-y: none;
        min-width: 0;
    }

    input[type='date']::-webkit-calendar-picker-indicator,
    input[type='time']::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        color: transparent;
        cursor: pointer;
    }
}

@layer components {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .no-spinner {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }

    .content-size {
        /* Only available in Chrome atm */
        field-sizing: content;
    }

    .transparent-tap {
        -webkit-tap-highlight-color: transparent;
        -moz-tap-highlight-color: transparent;
    }

    .tagline-text {
        font-size: 28pt;
    }

    .refresh {
        padding: 10px;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        width: 20px;
        height: 20px;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .dropdown-backdrop {
        @apply fixed left-0 top-0 z-50 h-full w-full bg-white/30 backdrop-blur-sm;
    }
}
