.divider {
	border-top: 1px solid #e2e8f0;
	margin: 1rem 0; /* Adjust margin as needed */
}

.overlay:hover {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}

.overlay {
	background-color: rgba(0, 0, 0, 0);
	opacity: 0;
}
